<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
  <clear/>
    <add name="sqlite"
        connectionString="data source=mydatabase.sqlite;Version=3;New=True;Compress=True"
        providerName="System.Data.SQLite.EF6" />
</connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
