<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="SistemaParaAdministrarRespaldos.Properties.Settings.mydatabaseConnectionString"
        connectionString="data source=&quot;D:\Sistema para manejar respaldos\Sistema-para-administrar-respaldos\mydatabase.sqlite&quot;"
        providerName="System.Data.SQLite.EF6" />
</connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
